@font-face {
    font-family: 'Merriweather-Regular';
    src: url("../assets/fonts/Merriweather-Regular.ttf");
}

@font-face {
    font-family: 'Merriweather-Bold';
    src: url("../assets/fonts/Merriweather-Bold.ttf");
}

@font-face {
    font-family: 'Inter-Regular';
    src: url("../assets/fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: 'Inter-Bold';
    src: url("../assets/fonts/Inter-Bold.ttf");
}