@media (max-width: 768px) {

    :root {
        --font-size-h1: 31px;
        --font-size-h2: 32px;
    }

    .nav {
        display: none;
    }

    .header-container {
        padding: 20px 0 0 60px;
    }

    .header-container .lng .slash {
        padding: 0 20px 0 7px;
    }

    .burger-menu {
        margin-right: 69px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        user-select: none;
        z-index: 1;
    }

    .burger-menu span {
        width: 126%;
        height: 3px;
        background: var(--font-color-main);
        margin: 4px 0;
        z-index: 2;
        transition: all 0.3s ease-in-out;
    }

    .burger-menu.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    .burger-menu.open span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .burger-menu-window {
        transition: display 2s;
    }

    .burger-menu-window {
        opacity: 1;
        transition: 1s;
    }

    .burger-menu-window.open {
        display: flex;
    }

    .header-container {
        background-position: -5px -30px;
        background-size: auto 620px;
    }

    .hero {
        background-position: -5px -100px;
        background-size: auto 620px;
    }

    .hero-container {
        padding: 110px 60px;
        height: 300px;
    }

    .hero-container p {
        padding-top: 32px;
        width: 400px;
        line-height: 24px;
    }

    .hero-container button {
        margin-top: 61px;
    }

    .section-title {
        width: 48%;
        padding-top: 100px;
    }

    .skills-items {
        padding-top: 54px;
        justify-content: center;
        gap: 45px;
    }

    .skill-item {
        width: 300px;
        padding: 80px 0 30px;
    }

    .skills-items .skill-item p {
        padding: 0;
        line-height: 20px;
    }

    .skills-items .skill-item:nth-child(4) p {
        padding-left: 7px;
        width: 285px;
    }

    .portfolio {
        padding-top: 51px;
        padding-left: 2px;
    }

    .portfolio-buttons {
        padding: 59px 50px;
        flex-wrap: wrap;
    }

    .photos {
        padding-left: 0;
    }

    .video .section-title {
        padding-left: 1px;
        margin-top: 1px;
    }

    .player {
        margin-top: 58px;
    }

    .player .picture {
        height: 418px;
        background-position: -4px 0;
        background-size: auto 417px;
    }

    .player .play {
        top: 175px;
        margin-left: -5px;
        width: 64.7px;
        height: 64.7px;
    }

    .price .section-title {
        padding-top: 99px;
        margin-bottom: -4px;
    }

    .price-items {
        padding: 63px 0 59px 0px;
    }

    .price-item {
        width: 414px;
        margin-bottom: 25px;
    }

    .price-item:nth-child(3) {
        margin-bottom: 21px;
    }

    .contacts {
        background-position: -233px 0;
        background-size: auto 600px;
        min-height: 600px;
    }

    .contacts-form {
        margin: 0 auto;
        padding-right: 0px;
    }

    .contacts h2 {
        padding: 72px 0 52px 0;
        text-align: center;
    }

    .contacts-btn {
        margin-left: 115px;
    }

    footer .container {
        flex-direction: column;
        min-height: 190px;
        margin-left: 17px;
        margin-top: -6px;
        justify-content: space-evenly;
    }

    footer .general-info {
        margin-top: 2px;
        margin-left: -36px;
    }

    footer .rss {
        margin-top: -15px;
        margin-left: -18px;
    }

    .nav-burger-menu {
        margin: 0 auto;
    }

    .burger-menu-window {
        position: absolute;
        background-color: var(--body-color);
        width: calc(100% - 148px);
        height: 100vh;
        top: 0;
        right: 0;
    }

    .nav-burger-menu .nav-list-burger-menu {
        display: flex;
        flex-direction: column;
        font-size: 35px;
        line-height: 88px;
        padding-top: 128px;
        padding-right: 216px;
    }

    .nav-burger-menu .nav-link-burger-menu {
        color: var(--font-color-main);
        transition: .5s;
    }

    .nav-burger-menu .nav-link-burger-menu:hover {
        color: var(--gold);
        transition: .5s;
    }

}