@media (max-width: 619px) {
    .burger-menu-window {
        width: 100%;
    }

    .header-container {
        background-position: 50% -30px;
        background-size: auto 500px;
    }

    .hero {
        background-position: 50% -100px;
        background-size: auto 500px;
    }

    .hero-container {
        height: 180px;
    }

    .portfolio .section-title {
        padding-top: 10px;
    }

    .contacts {
        background-position: -82px 0;
        background-size: auto 400px;
        min-height: unset;
        height: 400px;
    }

    .contacts h2 {
        padding: 10px 0 17px 0;
    }
}