@import "fonts.css";
@import "scrollbar.css";

:root {
    --black: #000000;
    --white: #FFFFFF;
    --gold: #bdae82;
    --font-size-h1: 60px;
    --font-size-h2: 40px;
    --font-size-main: 20px;
    --font-size-small: 18px;
    --font-h-reg: Merriweather-Regular, sans-serif, serif;
    --font-h-bold: Merriweather-Bold, sans-serif, serif;
    --font-main-reg: Inter-Regular, sans-serif, serif;
    --font-main-bold: Inter-Bold, sans-serif, serif;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-main);
    font-family: var(--font-main-reg);
    color: var(--white);
    background-color: var(--black);
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
}

a:hover,
a:active {
    color: var(--gold);
}

p, ul, h1, h2, h3, h4, pre {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: var(--font-size-h1);
    font-family: var(--font-h-bold);
    color: var(--white);
}

h2 {
    font-size: var(--font-size-h2);
    font-family: var(--font-h-bold);
    color: var(--gold);
}

h3 {
    font-family: var(--font-main-bold);
    font-size: var(--font-size-main);
}

.container button:hover {
    color: var(--white);
    transition: .8s;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 41px;
    background: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    -webkit-mask-image: url('../assets/svg/logo.svg');
    -webkit-mask-size: cover;
    transition: 1s;
}

.logo:hover {
    background-color: var(--gold);
}

.nav {
    margin-left: 54%;
    align-self: center;
}

.nav .nav-list {
    display: flex;
}

.nav .nav-item {
    padding: 0 15px;
}

.nav .nav-link {
    color: var(--white);
    transition: .5s;
}

.nav .nav-link:hover {
    color: var(--gold);
    transition: .5s;
}

.header-container .lng {
    align-self: center;
    margin-right: 39px;
}

.header-container .lng .slash {
    padding: 0 10px;
}

.header-container .lng .en {
    color: var(--gold);
    cursor: default;
}

.header-container .lng .ru {
    color: var(--white);
    cursor: pointer;
    transition: .5s;
}

.header-container .lng .ru:hover {
    color: var(--gold);
}

.hero-container {
    background-image: url('../assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    padding: 182px 80px;
    height: 456px;
}

.hero-container p {
    padding-top: 33px;
    width: 470px;
    line-height: 40px;
}

.hero-container button {
    margin-top: 25px;
    width: 219px;
    height: 54px;
    background-color: var(--gold);
    color: var(--black);
    font-size: var(--font-size-main);
    border: none;
    cursor: pointer;
    transition: .8s;
}

.section-title {
    width: 49%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    text-align: center;
    margin: 0 auto;
    padding-top: 115px;
}

h2 span {
    background-color: var(--black);
    padding: 0 20px;
    vertical-align: super;
}

.skills-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 61px;
}

.skill-item {
    width: 320px;
    padding: 100px 20px 10px;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
}

.skills-items .skill-item:nth-child(1) {
    background-image: url('../assets/svg/camera.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.skills-items .skill-item:nth-child(2) {
    background-image: url('../assets/svg/video.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.skills-items .skill-item:nth-child(3) {
    background-image: url('../assets/svg/image.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.skills-items .skill-item:nth-child(4) {
    background-image: url('../assets/svg/mic.svg');
    background-size: 62px 50px;
    background-repeat: no-repeat;
}

.skills-items .skill-item h3 {
    padding-bottom: 32px;
    padding-top: 8px;
}

.skills-items .skill-item p {
    font-size: var(--font-size-small);
    padding: 0 20px;
    line-height: 33px;
}

.skills-items .skill-item:nth-child(4) p {
}

.portfolio-buttons {
    display: flex;
    padding: 61px 0;
    justify-content: center;
    gap: 5px
}

.portfolio-buttons button {
    width: 220px;
    height: 55px;
    border: 1px solid var(--gold);
    font-size: var(--font-size-main);
    cursor: pointer;
    transition: .8s;
}

.portfolio-buttons .button-not-active {
    background-color: transparent;
    color: var(--gold);
}

.portfolio-buttons .button-active {
    background-color: var(--gold);
    color: var(--black);
}

.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding-left: 20px;
}

.player {
    margin-top: 60px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.player .picture {
    width: 1400px;
    height: 705px;
    background-image: url('../assets/img/video-player.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: 1s;
}

.player .play {
    position: absolute;
    top: 289px;
    width: 129.86px;
    height: 130px;
    background-color: var(--white);
    -webkit-mask-image: url('../assets/svg/play.svg');
    -webkit-mask-size: cover;
    transition: 1s;
    cursor: pointer;
}


.player .play:hover {
    background-color: var(--gold);
    transition: 1s;
}

.price-items {
    padding: 63px 0 59px 21px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.price-item {
    width: 444px;
    border: 3px solid var(--gold);
    padding: 40px 0;
    margin-bottom: 40px;
}

.price-item h3 {
    padding-top: 10px;
    margin-bottom: 20px;
    font-family: var(--font-h-bold);
    font-size: 28px;
    text-align: center;
}

.price-cost {
    padding-top: 18px;
    padding-bottom: 29px;
    font-family: var(--font-h-bold);
    font-size: 24px;
    text-align: center;
    color: var(--gold);
}

.price-text {
    margin-bottom: 40px;
}

.price-text span {
    display: block;
    font-size: 18px;
    line-height: 2;
    text-align: center;
}

.price-btn {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 55px;
    border: none;
    font-size: 22px;
    cursor: pointer;
    background-color: var(--gold);
    transition: .8s;
}
